@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
body {
    font-family: Open Sans, sans-serif;
    background-color: #ab7b81;

}
.hidden{
    display: none;
}
.block{
    display: block;
}
p,#name,#sector{
    font-size: 20px;
}

header{
    text-align: center;
    font-family: 'Grape Nuts', cursive;
    font-size: 20px;
}


.container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 10px;

    padding: 10px;
    margin: 40px;
    width: 90%;
    background-color: #3e3b3a;
    box-shadow: 6px 5px 20px 1px rgba(0,0,0,0.22);
}


.container>div {
  background-color: rgb(96, 83, 83);
  text-align: center;
  padding:20px 0;
   
}

.container>div h2 {
    font-size: 30px; 
}

.container img {
    width: auto;
    max-height: 150px;

}

aside {
    padding: 10px;
    margin: 40px;
    width: 90%;
    background-color: white;
    box-shadow: 6px 5px 20px 1px rgba(0,0,0,0.22);    
    
    display: none;
}


aside img {
    width: 200px;
    max-height: 200px;

}

aside td:first-child {
    width: 40%;
}